<ng-container>
    <div class="text-primary text-center fw-bold fs-4">Bienvenido a {{ shopName }} POS</div>
    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col border border-primary rounded m-3 pointer" (click)="navigateTo('products')">
                <div class="p-3">Productos</div>
            </div>
            <div class="col border border-primary bg-light rounded m-3">
                <div class="p-3">Custom column padding</div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary m-3">Reportes</button>
    <button class="btn btn-secondary m-3">Respaldo</button>

</ng-container>